<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- <form action="/api/post" method="post">
    <label for="content">CONTENT</label>
    <input type="text" name="content" id="content">
    <br>  
    <label for="published">PUBLISH</label>
    <input type="checkbox" id="published" name="published">
    <button type="submit">CREATE POST</button>
  </form> -->

  <div class="container">
    <div class="board" id="createpost">
        <!-- <p style="margin-top: 10px;">What is happening?</p>  -->
        <form action="/api/post" method="post">
          <label for="username">Username</label>
          <input type="username" name="username">
          <br>
          <label for="content">Content</label>
          <input type="text" id="content" name="content">
          <button type="submit"  style="margin-left: 650px; margin-top: 40px;">Post</button>
        </form>
        <!-- <button type="submit"  style="margin-left: 650px; margin-top: 40px;">Post</button> -->
    </div>
  </div>
</body>
</html>

