<form action="/users/<%= receiverId %>/follow" method="post">
    <input type="hidden" name="_method" value="post">
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
    <button type="submit">Send Follow Request</button>
  </form>