<div class="createpost-body">

  <h1 class="header">Create Post</h1>

  <form class="createpost-card" enctype="multipart/form-data" action="/posts" method="post">
    <div>
      <label for="postImage">Image (optional)</label>
      <input type="file" id="postImage" name="postImage" accept="image/*">
    </div>

    <div>
      <label for="content">What's on your mind?</label>
      <input type="text" id="content" name="content" placeholder="Write something..." required>
    </div>

    <button type="submit">Post</button>
  </form>

</div>
