<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div>
        <h1 style="margin-left: 400px;">Happening Now</h1>
        <p style="margin-left: 400px;">Join Today.</p>
        <br>
        <a href="/signup" class="auth">Sign up as a guest</a> 
        <br><br>
        <p></p>
        <a href="/apple" class="auth">Sign up with Apple</a>
        <p style="margin-left: 400px;">-----------------------or---------------------</p>
        <a href="/register" style="background-color: lightskyblue; color: black; padding: 10px 120px; border-radius: 20px; margin-left: 400px;">Create an account</a>
        <p style="margin-left: 400px;">By signing up, you agree to the Terms and Service and Pfivacy </p>
        <h3 style="margin-left: 400px;">Already have an account?</h3>
        <a href="/login" class="auth">Sign in</a>
    </div>
</body>
</html>