
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container1">
        <h1>Happening Now</h1>
        <p>Join Today.</p>
        <a href="/signup" class="auth">Sign up as a guest</a> 
        <a href="/apple" class="auth">Sign up with Apple</a>
        <p class="divider">-----------------------or---------------------</p>
        <a href="/register" class="create-account">Create an account</a>
        <p class="terms">By signing up, you agree to the Terms and Service and Privacy</p>
        <h3>Already have an account?</h3>
        <a href="/login" class="auth">Sign in</a>
    </div>
</body>
</html>
