<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="board" id="dashboard">
      <h1>Odin Book</h1>
      <% for (let i = 0; i < links.length; i++) { %>
        <a href="<%= links[i].href %>">
          <%= links[i].text %>
          <i class="<%= links[i].icon %>" id="icon-style"></i>
        </a>
      <% } %>

    </div>
    
    <div class="board" id="following">
          <!-- <form action="example.com/path" method="post">
          <i class="fa fa-search" id="fasearch"></i>
          <input type="text" size="70">
          </form> -->
        <a href="">All</a>
        <h4 style="margin-left: 550px; margin-top: -20px;">
        <a href="">Following</a>
        </h4> 
    </div>
          
    <div class="board" id="createpost">
      <!-- <p style="margin-top: 10px;">What is happening?</p> -->
      
      <form action="/posts" method="post">
        <label for="">What is happening?</label>
        <input type="text" name="content">
        <button type="submit" style="margin-left: 650px; margin-top: 40px; ">Post</button>
      </form>
      <button style="margin-left: 650px; margin-top: 40px; ">Post</button>
    </div>

    <div class="board" id="showpost" style="color: lightskyblue; text-align: center;"><a href="/post">Show All posts</a></div>
      
    <div class="board" id="pictures">pictures</div>

    <div class="board" id="subscribe">
      <h2>Subscribe to Premium</h2>
      <p>Subscribe to unlock new features and if eligible, receive a share of revenue.</p>
      <button style="background-color: lightskyblue; border-radius: 20px; padding: 10px; margin-top: 20px;">Subscribe</button>
    </div>

    <div class="board" id="trending">
      <h2>What's happening?</h2>
      <p style="color: gray;">Trending in Nigeria<strong>It is Raining</strong>4,705 posts</p>
    </div>

    

    <div class="search-container">
      <input type="search" id="search-input" class="board"  placeholder="Search...">
      <button type="submit" id="search-button">
        <i class="fa fa-search"></i>
      </button>
    </div>

  </div>    
</body>
</html>
