<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post">
        <label for="">Username:</label>
        <input type="text">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email">
        <br>
        <label for="location">Location</label>
        <input type="location" name="location">
        <br>
        <label for="pronoun">Pronoun</label>
        <input type="pronoun" name="pronoun">
        <br>
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio"></textarea>
        <br>
        <button>Submit</button>
    </form>    
</body>
</html>