<div class="post-card">

    <div class="post-header">
      <img src="/uploads/default.png" class="profile-pic">
  
      <div>
        <h4><%= post.author %></h4>
        <small><%= post.createdAt %></small>
      </div>
    </div>
  
    <div class="post-body">
      <p><%= post.content %></p>
    </div>
  
    <div class="post-actions">
  
      <button>
        <i class="fa fa-heart"></i> Like
      </button>
  
      <button>
        <i class="fa fa-comment"></i> Comment
      </button>
  
    </div>
  
  </div>